<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Rabbia Hassan</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>1.11.3, 1.10.2 - 1.10.*, 1.9.9 - 1.9.*</require_version>
	<!-- / Module Properties -->

	<aware_of_modules>
	    <aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.BahmniSyncMasterActivator</activator>
	
	
	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>
	
	<privilege>
		<name>Manage Bahmni Sync</name>
		<description>Allows user to access Bahmni Sync pages/functions</description>
	</privilege>

	<globalProperty>
		<property>@MODULE_ID@.worker.node.id</property>
		<defaultValue></defaultValue>
		<description>
			Worker ID, should be be unique among all the nodes synchronizing to master
		</description>
	</globalProperty>

	<globalProperty>
		<property>@MODULE_ID@.master.url</property>
		<defaultValue></defaultValue>
		<description>
			Master url for data sync
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>@MODULE_ID@.kafka.url</property>
		<defaultValue></defaultValue>
		<description>
			Kafka Server url
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>@MODULE_ID@.sync.table</property>
		<defaultValue></defaultValue>
		<description>
			List of table (comma separated), data to be pushed to master 
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>@MODULE_ID@.sync.chunk.size</property>
		<defaultValue>2</defaultValue>
		<description>
			Maximum number of changes per request
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>@MODULE_ID@.debezium.connect.url</property>
		<defaultValue></defaultValue>
		<description>
			Debezium Connect URL
		</description>
	</globalProperty>
	
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
				
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

